.edit-button {
  &__buttons-wrapper {
    display: flex;
    flex-direction: column;

    // To fit entitled popover from NG-ZORRO
    min-width: 201px;
  }

  &_confirm-button {
    display: block;
  }
}
